Gyorgy -> György
Kurtag -> Kurtág
Jorg -> Jörg
Eotvos -> Eötvös
Gliere -> Glière
Leos -> Leoš
Antonin -> Antonín
Bedrich -> Bedřich
Ysaye -> Ysaÿe
Tomas -> Tomás
Zoltan -> Zoltán
Kodaly -> Kodály
+name:Klemperer, Otto +years:1885-1973
+name:Tenney, James +years:1934-2006
+name:Shebalin, Vissarion +years:1902-1963
+name:Bovio, Libero +years:1883-1942
+name:Haddad, Saed +years:1972
+name:Gilbert, Amy +years:1936
+name:Mansurian, Tigran +years:1939
+name:Schoeller, Philippe +years:1957
+name:Estrada, Julio +years:1943
+name:Susteck, Dominik +years:1977
+name:Moe, Ole Henrik +years:1920-2013
+name:Bedford, Luke +years:1978
schoenbergarnold @ schoenberg
?schoenberg: schonberg
straussiijohann @ straussjohannii, straussjohannjr
?ii: sohn,jr.
straussrichard @ straussr, rstrauss
?sebastian: j.s.
bachjohannsebastian @ bach, bachjs, jsbach
bachcarlphilippemanuel @ carlphilippemanuelbach, cpebach, bachcpe
?carl: c.p.e.
shostakovichdmitri @ shostakovich, chostakovich
?shostakovich: chostakovich, shostakovitch
rachmaninovsergey @ rachmaninov, rachmaninoff
?rachmaninov: rachmaninoff
mussorgskymodestpetrovich @ mussorgsky
?mussorgsky: mussorsky
vaughanwilliamsralph @  vaughanwilliams
mahlergustav @ mahler
wolfhugo @ wolf
fauregabriel @ faure
bergalban @ berg, albanberg
barbersamuel @ barber, samuelbarber
henzehanswerner @ henze 
bernsteinleonard @ bernstein 
nielsencarl @ nielsen
janacekleos @ janacek 
mozartwolfgangamadeus @ mozart, wamozart
haydnjoseph @ haydn 
haydnmichael @ haydnm, mhaydn
schumannrobert @ schumann 
schubertfranz @ schubert 
mendelssohnfelix @ mendelssohn, mendelssohnf, mendelssohnbartoldi, felixmendelssohnbartodi
saintsaenscamille @ saintsaens
elgaredward @ elgar
couperinfrancois @ couperin
gardinerhenrybalfour @ gardinerhenry
tchaikovskypyotrilyich @ tchaikovsky, ciaikovsky
?tchaikovsky: ciaikovsky
?dmitry:dmitri
?sergey:sergei
?johannes:johaness
?fryderyk:frederic
+name:Anonymous
?anonymous:anon
+name:Pepping, Ernst +years:1901-1981
+name:Maayani, Ami +years:1936
+name:Kaminski, Joseph +years:1903-1972
+name:Tal, Josef +years:1910-2008
+name:Avni, Zvi +years:1927
+name:Mordecai Seter +years:1916-1994
dvorakantonin @ dvorak
?johann:jean
?sebastian:sebastien
?piotr:pyotr
?Krzysztof:krzystof
+name:Kopytman, Mark +years:1929-2011
+name:Striggio, Alessandro +years:1540-1592
?erno:ernst
Erno -> Ernő
wagnerrichard @ wagner
scarlattidomenico @ dscarlatti, scarlattid
scarlattialessandro @ ascarlatti, scarlattia
beethovenludwigvan @ beethoven, ludwigvanbeethoven, lvbeethoven
vivaldiantonio @ vivaldi
sibeliusjean @ sibelius
+name:Büsser, Henri
bachjohannsebastian = -busoni, -liszt, +bach
schubertfranz = -liszt, +schubert
mussorgskymodestpetrovich = -ravel
ravelmaurice = -mussorgsky, +ravel
wagnerrichard = -liszt, +wagner
lisztfranz = -wagner, -schubert, -bach, -schumann, +liszt
mahlergustav = +mahler
wolfhugo = +wolf
fauregabriel = +faure
bergalban = +berg
barbersamuel = +barber
henzehanswerner = +henze
bernsteinleonard = +bernstein
nielsencarl = +nielsen
janacekleos = +janacek
mozartwolfgangamadeus = +mozart
haydnjoseph = +haydn
schumannrobert = +schumann
mendelssohnfelix = +mendelssohn
saintsaenscamille = +saint, +saens
elgaredward = +elgar
schumannrobert = -liszt, +schumann
?phillip:philipp
mahlergustav = -alma
